@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #242933;
    display: flex;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    border: 0;
}

.container {
    background-color: #2F3644;
    border-radius: 5px;
    border: 2px solid #3E445B;
    width: 450px;
    max-width: 100%;
    transition: all 2s;
}


.header {
    padding: 30px 40px;
}



.header h2 {
    font-weight: 600;
    color: #ACBAE1;
    font-size: 25px;
}


.form {
    padding: 0 40px 30px;
}

div .form-control {
    background-color: #2F3644;
}



.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border-style: none;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #828CAD;
}

.form-control input, select {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 100%;
    padding: 15px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form .buttonSubmit {
    background-color: #6C63FF;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    margin-top: 5px;

    cursor: pointer;
}

.form .buttonSubmit:hover {
    background-color: #584ff5;
    transition: 0.3s;
} 

.divButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.adicionar {
    margin-top: 10px;
    width: 55px;
    height: 55px;
    margin-left: 16px;
    border-radius: 50%;
    border: 2px solid black;
    color: white;
    background: #00B84C;
    cursor: pointer;
    transition: all 0.5s;
    
  }

.adicionar:hover {
    transform: scale(1.15);
    
}

@keyframes pulse {
    0% {
      filter: brightness(100%);
    }
    100% {
      filter: brightness(200%);
    }
  }

@keyframes example {
	from {
        left: 0px;
        visibility: hidden;
     }
     to {
         left: calc(100% - 100px);
     }
}

.animating {
    animation: example 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

#excluir {
    margin-top: 10px;
    width: 55px;
    height: 55px;
    margin-left: 16px;
    border-radius: 50%;
    border: 2px solid black;
    color: white;
    background: #FF0256;
    cursor: pointer;
    transition: all 0.3s;
}

#excluir:hover {
    transform: scale(1.15);
}

#open-modal {
  background-color: #007bff;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }
  
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

  #fade,
  #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 2rem;
    background-color: black;
    color: #fff;
  }
  
  .modal-body {
    background-color: #2F3644;
    padding: 1rem;
    word-wrap: break-word;

  }

  .modal-body pre {
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.722);
    text-overflow: unset;
  }
  
  #modal.hide,
  #fade.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  #modal.hide {
    top: 0;
  }

  #labelCheckbox {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }